main {
    padding: 20px 0px 5px 40px;
}

section {
    display: grid;
    grid-template-rows: 100%;
}

.pagesTitle h2 {
    font-size: 48px;
}

.about__container { 
    position: sticky;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* alinea en el eje vertical */
    align-self: center;
}

.card_title {
    padding-top: 50px;
    font-size: 55px;
}

.card_info {
    padding-top: 40px;
    color: #828282;
    font-size: 48px;
}