* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagesTitle h2 {
    padding: 20px 0px 20px 40px;
    font-size: 48px;
}

.section {
     
    margin: 8px 12px 0px 12px;
    display: grid;
    grid-template-rows: 100%;
}

.square { 
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* alinea en el eje horizontal */
    justify-self: center;
    /* alinea en el eje vertical */
    align-self: center;
}

form {
    width: 90%;
    max-width: 900px;    
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1e3a8a;
    box-shadow: 0 Rpx 8px rgba(30, 58, 130, 0.3);
    border-radius: 8px;
    font-size: 25px;   
}

form label {
    margin-bottom: 8px;
    /* font-weight: 200; */
    color: #F1F4F8;
}

form input,
form textarea,
form select {
    margin-bottom: 15px;
    padding: 15px;
    color: #828282;
    border: 1px solid #828282;
    border-radius: 4px;
    font-size: 20px;
}


form button {
    background-color: #10B981;
    color: #F3F4F6;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    padding: 8px 0px;
    border-radius: 12px;
    border: none;
    width: 200px;
    height: 40px; 
    margin-top: 12px;
}

.FormAlerts_group {
    display: flex;
    flex-direction: column;

}

#notificationType label,
#Frequency label {
    margin-right: 20px;
}