* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #A1BEE3;
    font-family: 'Averia Sans Libre', sans-serif;
    margin: 8px 12px 3px 12px;
}

main {
    height: 550px;
}